.Header{
    width: 90%;
    margin: auto;
    height: 60px;
    background-color: darkcyan;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.Header .logo{
    font-family: cursive;
    font-size: large;
    color: yellow;
}
.nav{
    display: flex;
    gap: 20px;
}
.nav a{
    text-decoration: none;
    color:#fff;
}